@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* inter var - latin */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: url('/fonts/inter-var-latin.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
            U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'kanitbold';
        src: url('/fonts/kanit-bold-webfont.woff2') format('woff2'),
            url('/fonts/kanit-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    html {
        scroll-behavior: smooth;
        /* scroll-padding-top: 80px; */
    }

    /* Write your own custom base styles here */
    h1 {
        @apply text-3xl font-bold md:text-5xl font-primary;
    }

    h2 {
        @apply text-2xl font-bold md:text-4xl font-primary;
    }

    h3 {
        @apply text-xl font-bold md:text-3xl font-primary;
    }

    h4 {
        @apply text-lg font-bold font-primary;
    }

    body {
        @apply text-sm font-primary md:text-base;
        /* padding: 0;
        margin: 0; */
    }

    .layout {
        /* 750px */
        /* max-width: 43.75rem; */

        /* 1100px */
        max-width: 80rem;
        @apply w-11/12 mx-auto;
    }

    .button {
        @apply py-4 px-16 border-none bg-primary-500 text-white hover:bg-primary-400 hover:text-dark transition-colors duration-200;
    }
}

@layer utilities {
    .done {
        @apply flex flex-col items-center;
    }

    .in-progress {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: inProgress 1s ease infinite alternate;
    }

    @keyframes inProgress {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .undone {
        @apply flex flex-col items-center opacity-30;
    }

    .undone .checked-icon,
    .in-progress .checked-icon {
        display: none;
    }

    .hero-title {
        font-size: clamp(2.5rem, 10vw, 5rem);
        margin-bottom: 1rem;
        box-shadow: 3px 5px #e9ba23;
        letter-spacing: 3px;
    }

    .bg-hero {
        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.1)
            ),
            url('../public/images/pizza-3.jpg');
        height: calc(100vh - 80px);
        background-position: center;
        background-size: cover;
    }

    .regular-checkbox {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid #ffc500;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
    }

    .regular-checkbox:focus {
        outline: max(2px, 0.15em) solid #ffc500;

        outline-offset: max(2px, 0.15em);
    }
}
